[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysimplegui = "*"
numpy-financial = "*"

[dev-packages]
auto-py-to-exe = "*"

[requires]
python_version = "3.10"
